
	
@import 'sass/variables'
@import 'sass/general'

*
	text-align: center

body
	background: $white


// Custom Modal
// .my-modal-overlay
// 	position: fixed
// 	width: 100%
// 	height: 100%
// 	background: #0000004d

.modal-backdrop
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 1
	background-color: #000

.modal-backdrop.show
	opacity: 0.5

// .modal-backdrop.fade
// 	opacity: 0

// .fade.show
// 	opacity: 1

.my-modal
	background: $white
	position: absolute
	top: 10%
	left: 50%
	transform: translateX(-50%)
	width: 90%
	max-width: 50em
	height: 50vh
	// margin: auto
	z-index: 2
	overflow: scroll

.my-modal-close
	position: absolute
	top: 5px
	right: 5px