@import '../sass/variables'
@import '../sass/general'

.artist-result-container
	h1
		font-size: 1.75em
	img
		max-width: 45vh
		box-shadow: 1px 1px 10px black
		margin-bottom: 1em

	a
		display: inline-block

@media only screen and (min-width: 768px)
	.artist-result-container
		img
			max-width: 50vh
