@import '../sass/variables'
@import '../sass/general'

.artist-result-container
	h1
		font-size: 1.75em
	img
		// Orig
		// max-width: 15em

		// Testing
		max-width: 45vh


		box-shadow: 1px 1px 10px black
		margin-bottom: 1em

	button, a
		font-size: 1em
		margin: 5px 2px
		padding: 6px
		background-color: $spotify-green
		color: $white
		border: none
		box-shadow: 1px 1px 3px black
		cursor: pointer

	a
		display: inline-block

@media only screen and (min-width: 450px)
	.artist-result-container
		img
			// Orig 
			// max-width: 25em

@media only screen and (min-width: 768px)
	.artist-result-container
		img
			// Orig
			// max-width: 30em

			// Testing
			max-width: 50vh
