@import '../sass/variables'
@import '../sass/general'

.modal-form
  box-shadow: 1px 1px 5px lightgrey

.modal-result-list
  height: 50vh
  max-height: 50em
  overflow-y: scroll

.modal-result
  transition: 250ms ease-in-out all

  .modal-result-inner
    padding: 1em 2em
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center

  .modal-img-result
    width: 10em

.modal-result-selected
  background: $my-lightgrey

@media only screen and (min-width: 550px)
  .modal-result
    .modal-result-inner
      padding: 1em 5em
      flex-flow: row wrap
      justify-content: space-between