@import '../sass/variables'
@import '../sass/general'

.modal-form
  box-shadow: 1px 1px 5px lightgrey

.modal-result-list
  height: 40vh
  overflow-y: scroll

.modal-result
  margin: 1em
  padding: 0 2em
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  .modal-img-result
    width: 10em



@media only screen and (min-width: 550px)
  .modal-result
    padding: 0 5em
    flex-flow: row wrap
    justify-content: space-between