//General

//Typography

// p, h1
*:not(i)
	font-family: 'Open Sans', sans-serif

@media only screen and ($desktop)
	button, a
		transition: 250ms ease-in-out all

	button:hover, a:hover
		background-color: $spotify-green-drk !important

	// .artist-result-container
	// 	button:hover, a:hover
	// 		background-color: $spotify-green-drk