//Typography
*:not(i)
	font-family: 'Open Sans', sans-serif


//Media Queries
@media only screen and ($desktop)
	button, a
		transition: 250ms ease-in-out all

	button:hover, a:hover
		background-color: $spotify-green-drk !important