@import '../sass/variables'

// form
	

.input-container
	display: inline-block

form:after
	clear: both
	content: ''
	display: table

input, button
	font-size: 1.2em

input[name="search"]
	float: left
	height: 33px
	line-height: 33px
	padding: 0 3px
	width: 300px

button[type="submit"]
	float: left
	height: 37px
	line-height: 37px
	padding: 0 10px
	background-color: $spotify-green
	color: $white
	border: none
	border-radius: 0 5px 5px 0
	cursor: pointer